{% extends 'base.html' %}

{% block title %}Cadastrar Cliente{% endblock %}

{% block content %}
    <h2 class="text-center">Cadastrar Cliente</h2>

    <div class="card shadow p-4">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.nome.label_tag }}
                {{ form.nome }}
            </div>
            <div class="mb-3">
                {{ form.cpf.label_tag }}
                {{ form.cpf }}
            </div>
            <div class="mb-3">
                {{ form.banco.label_tag }}
                {{ form.banco }}
            </div>
            <div class="mb-3">
                {{ form.servico.label_tag }}
                {{ form.servico }}
            </div>
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
        <hr>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Serviço</th>
                    <th scope="col">Banco</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.servico }}</td>
                    <td>{{ cliente.banco }}</td>
                    <td>{{ cliente.cpf }}</td>
                    <td>
                        <a class="btn btn-primary"><i class="fas fa-edit"></i> Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
